.Alignments {
  display: inline-flex;
  border: 1px solid var(--ve-field-border);
  box-shadow: var(--ve-field-shadow);
  border-radius: .2em;
}

.AlignmentsButton {
  position: relative;
  border-right: 1px solid var(--ve-field-border);

  &:last-child {
    border: none;
  }

  &:hover {
    background-color: var(--ve-hover);
  }
}

.AlignmentsButton div {
  cursor: pointer;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: .3s;
}

.AlignmentsButton input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  cursor: pointer;
}

.AlignmentsButton input:checked + div {
  background-color: var(--ve-primary);
  color: #FFF;
  box-shadow: 0 0 0 1px var(--ve-primary);
  border-radius: .2em;
}

.AlignmentsButton input:focus + div {
  box-shadow: 0 0 0 1px var(--ve-primary), 0 0 0 0.25rem rgb(23 113 230 / 25%);
  border-radius: .2em;
}
