.HTMLText {
  color: var(--ve-color, currentColor);
  background: var(--ve-background, transparent);
  border: 1px solid var(--ve-field-border);
  box-shadow: var(--ve-field-shadow);
  padding: .5rem .75em;

  &:focus {
    border-color: var(--ve-primary);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(23 113 230 / 25%);
  }
}
