.ColorPickerButton {
  width: 38px;
  height: 38px;
  background-color: #fff;
  box-shadow: var(--ve-field-shadow);
  border: 1px solid var(--ve-field-border);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 3px;

  &::before {
    content:'';
    display: block;
    width: calc(100% - .6em);
    height: calc(100% - .6em);
    background: var(--ve-selected-color, red);
    border-radius: 2px;
  }

  &:focus {
    border-color: var(--ve-primary);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(23 113 230 / 25%);
  }
}

%mosaic {
  --ve-transparentColor: #ffffff;
  background-color: #d0d0d0;
  background-image: linear-gradient(45deg, var(--ve-transparentColor) 25%, transparent 25%), linear-gradient(-45deg, var(--ve-transparentColor) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--ve-transparentColor) 75%), linear-gradient(-45deg, transparent 75%, var(--ve-transparentColor) 75%);
  background-size: 10px 10px;
  background-position: 0 0, 0 5px, 5px -5px, -5px 0px;
}

.ColorPickerButtonTransparent::before {
  @extend %mosaic;
}
