.ImageUrlTooltip {
  width: 150px;
  height: 150px;
  position: relative;
  z-index: 2;
  object-fit: cover;
}

.ImageUrlBrowseButton {
  width: 32px;
  height: 32px;
  color: var(--ve-color-light)
}

.ImageUrlInput {
  padding-right: 40px;
}
