.Range {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 100%;
  height: 20px;
}
.RangeTrack {
  position: relative;
  display: block;
  height: 5px;
  background-color: var(--ve-field-border);
  width: 100%;
  border-radius: 5px;
}
.RangeTrackSelected {
  position: absolute;
  left: 0;
  height: 100%;
  display: block;
  background-color: var(--ve-primary);
}
.RangeThumb {
  display: block;
  background-color: #FFF;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  cursor: pointer;
  border: 1px solid var(--ve-field-border);
}
