:global(#ve-components) {
  overflow-x: hidden;
  overflow-y: visible;
}

.Preview {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  animation: PreviewIn .7s cubic-bezier(0.19, 1, 0.22, 1) both;
}

.Preview iframe {
  opacity: 0;
  transform-origin: 50% 50%;
  width: 100%;
  height: 100%;
  border: none;
  color: var(--ve-primary);
  transition: width .3s, height .3s, opacity .5s;
}

.PreviewLoaded iframe {
  opacity: 1;
}

.PreviewSpinner {
  color: white;
  opacity: .6;
}

.PreviewPhone iframe {
  width: 390px;
  height: 844px;
}

.PreviewAddButton {
  position: relative;
  margin-top: -40px;
  margin-bottom: -40px;
  opacity: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;
  background-color: transparent;
  border: none;
  transition: opacity .3s;

  &:hover {
    opacity: 1;
  }

  &::before {
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    z-index: 101;
    background-color: var(--ve-primary);
  }

  &::after {
    content: '+';
    font-size: 1.5em;
    z-index: 101;
    width: 40px;
    height: 40px;
    background: var(--ve-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    border-radius: 40px;
    transition: transform .3s;
  }
}

.PreviewAddButton span {
  pointer-events: none;
  font-size: 15px;
  height: 34px;
  background: var(--ve-primary);
  padding: 0 .5em;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translate(-50%, 5px);
  color: var(--ve-background);
  transition: transform .3s;


  &::before {
    content: '';
    position: absolute;
    display: block;
    left: calc(50% - 6px);
    top: -6px;
    width: 12px;
    height: 12px;
    background: var(--bs-primary);
    transform: rotate(45deg)
  }
}

.PreviewAddButton:hover span {
  transform: translate(-50%, 0px);
}

.PreviewAddBlock {
  background-color: transparent;
  border: 2px dashed var(--ve-field-border);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--ve-color);
  width: calc(100% - 2rem);
  margin: 1rem;
  padding: 1rem;
}

// Item
// =============
.PreviewBlockWrapper {
  position: relative;
  cursor: pointer;
}

.PreviewBlock {
  position: relative;
  border: 1px solid transparent;
}

.PreviewBlockWrapper:hover .PreviewBlock {
  border: 1px solid var(--ve-primary);
}

.PreviewBlockTitle {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--ve-primary);
  color: #FFF;
  padding: .2rem .4rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 0;
}

.PreviewBlockWrapper:hover .PreviewBlockTitle,
.PreviewBlockFocused .PreviewBlockTitle {
  transform: translateY(-100%);
  opacity: 1;
}


.PreviewBlock::before {
  content: '';
  position: absolute;
  inset: 0;
  border: 2px solid transparent;
  z-index: 10;
}

.PreviewBlockFocused::before {
  border: 2px solid var(--ve-primary) !important;
}

.PreviewBlock .PreviewBlockSpinner {
  --size: 12px;
  top: 1rem;
  right: 1rem;
  left: auto;
  bottom: auto;
  color: var(--ve-primary);
}

// Animation
// =============
[hidden="hidden"] .Preview {
  animation: PreviewOut .7s cubic-bezier(0.19, 1, 0.22, 1) both;
}

@keyframes PreviewOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(50px);
    opacity: 0;
  }
}

@keyframes PreviewIn {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
