:global(#ve-components) {
  overflow-x: hidden;
  overflow-y: visible;
}

.Preview {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  animation: PreviewIn .7s cubic-bezier(0.19, 1, 0.22, 1) both;
}

.Preview iframe {
  opacity: 0;
  transform-origin: 50% 50%;
  width: 100%;
  height: 100%;
  border: none;
  color: var(--ve-primary);
  transition: width .3s, height .3s, opacity .5s;
}

.PreviewLoaded iframe {
  opacity: 1;
}

.PreviewSpinner {
  color: white;
  opacity: .6;
}

.PreviewPhone iframe {
  width: 390px;
  height: 844px;
}

// Item
// =============
.PreviewBlockWrapper {
  position: relative;
  cursor: pointer;
}

.PreviewBlock {
  position: relative;
  border: 1px solid transparent;
}

.PreviewBlockWrapper:hover .PreviewBlock {
  border: 1px solid var(--ve-primary);
}

.PreviewBlockTitle {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--ve-primary);
  color: #FFF;
  padding: .2rem .4rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 0;
}


.PreviewBlock::before {
  content: '';
  position: absolute;
  inset: 0;
  border: 2px solid transparent;
  z-index: 10;
}

.PreviewBlockFocused::before {
  border: 2px solid var(--ve-primary) !important;
}

.PreviewBlock .PreviewBlockSpinner {
  --size: 12px;
  top: 1rem;
  right: 1rem;
  left: auto;
  bottom: auto;
  color: var(--ve-primary);
}

// Animation
// =============
[hidden="hidden"] .Preview {
  animation: PreviewOut .7s cubic-bezier(0.19, 1, 0.22, 1) both;
}

@keyframes PreviewOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(50px);
    opacity: 0;
  }
}

@keyframes PreviewIn {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
