.ve-alignments {
  display: inline-flex;
  border: 1px solid var(--field-border);
  box-shadow: var(--field-shadow);
  border-radius: .2rem;
}

.ve-alignment {
  position: relative;
  border-right: 1px solid var(--field-border);
  cursor: pointer;

  &:last-child {
    border: none;
  }

  &:hover {
    background-color: var(--hover);
  }
}

.ve-alignment input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  cursor: pointer;
}

.ve-alignment div {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: relative;
  transition: .3s;
}

.ve-alignment input:checked + div {
  background-color: var(--primary);
  color: #FFF;
  box-shadow: 0 0 0 1px var(--primary)
}

.ve-alignment input:focus + div {
  box-shadow: 0 0 0 1px var(--primary), 0 0 0 0.25rem rgb(23 113 230 / 25%)
}

