.ve-layout .ve-color-button {
  width: 38px;
  height: 38px;
  background-color: #fff;
  box-shadow: var(--field-shadow);
  border: 1px solid var(--field-border);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 3px;

  &::before {
    content:'';
    display: block;
    width: calc(100% - .6em);
    height: calc(100% - .6em);
    background: var(--veSelectedColor, red);
    border-radius: 2px;
  }

  &:focus {
    border-color: var(--primary);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(23 113 230 / 25%);
  }
}

%mosaic {
  --transparentColor: #ffffff;
  background-color: #d0d0d0;
  background-image: linear-gradient(45deg, var(--transparentColor) 25%, transparent 25%), linear-gradient(-45deg, var(--transparentColor) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--transparentColor) 75%), linear-gradient(-45deg, transparent 75%, var(--transparentColor) 75%);
  background-size: 10px 10px;
  background-position: 0 0, 0 5px, 5px -5px, -5px 0px;
}

.ve-layout .ve-color-button-transparent::before {
  @extend %mosaic;
}
.ve-color-palette {
  max-width: 212px;
  flex-wrap: wrap;
  display: flex;
}
.ve-color-palette button {
  position: relative;
  background-color: var(--veColor);
  width: 25px;
  height: 25px;
  flex: none;
  z-index: 2;
  cursor: pointer;
}
.ve-color-palette button:hover {
  z-index: 3;
  outline: 2px solid white;
  box-shadow: rgba(0, 0, 0, .25) 0 0 5px 2px;
}
.ve-color-palette .ve-color-transparent {
  @extend %mosaic;
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    top: -9px;
    left: calc(50% - 1px);
    content:'';
    width: 2px;
    height: 40px;
    background: red;
    transform: rotate(45deg);
  }
}


