.Spinner {
  --size: 30px;
  position: absolute;
  top: calc(50% - var(--size) * 0.5);
  left: calc(50% - var(--size) * 0.5);
  width: var(--size);
  height: var(--size);
  animation: Spinner 1.4s infinite linear;
}
.Spinner svg {
  display: block;
  width: var(--size);
  height: var(--size);
}
@keyframes Spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
