.Tooltip {
  background-color: #202227;
  color: #FFF;
  padding: .2em .5em;
  position: relative;
  border-radius: 4px;
  font-size: .75em;
  line-height: 1.4;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  outline: 0;
  transition-property: transform, visibility, opacity;
}

.Tooltip[data-animation=fade][data-state=hidden] {
  transform: translateY(-5px);
  opacity: 0;
}

.Tooltip[data-placement^=top] > :global(.tippy-arrow) {
  bottom: 0;
}


.Tooltip :global(.tippy-arrow) {
  width: 16px;
  height: 16px;
  color: #202227;
}

.Tooltip[data-placement^=top] > :global(.tippy-arrow):before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  transform-origin: center top;
}

.Tooltip :global(.tippy-arrow)::before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

.Tooltip[data-placement^=bottom] > :global(.tippy-arrow):before {
  top: -19px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  transform: rotate(180deg);
  transform-origin: center top;
}
