.LayoutWrapper {
  isolation: isolate;
  z-index: 9999;
  font-size: 15px;
  --ve-sidebar: 600px;
  --ve-clampedSidebar: clamp(450px, var(--ve-sidebar), calc(100vw - 375px));
}

.LayoutWrapper * {
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    padding: 1px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--ve-field-border);
    border-radius: 4px;
  }
}

.Layout {
  color: var(--ve-color-light);
  transition: background-color .3s;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  display: grid;
  z-index: 1000;
  grid-template-columns: var(--ve-clampedSidebar) 1fr;
  background-color: var(--ve-field-border);
  animation: LayoutIn .7s cubic-bezier(0.19, 1, 0.22, 1) both;
}

// Collapse Button
// =============
.LayoutCollapseButton {
  position: absolute;
  top: 10px;
  z-index: 1001;
  left: calc(var(--ve-clampedSidebar) + 1em);
  box-shadow: var(--ve-field-shadow);
  border: 1px solid var(--ve-hover);
  opacity: 0;
  transition: opacity .3s;
}

.LayoutCollapseButton:hover {
  opacity: 1;
}

.LayoutSidebarCollapsed {
  grid-template-columns: 1fr;

  & > *:first-child {
    display: none;
  }

  & + .LayoutCollapseButton {
    left: 1em;
    opacity: 1;
    transform: rotate(180deg);
  }
}

// Animations
// =============
[hidden="hidden"] .Layout {
  animation: LayoutOut .7s cubic-bezier(0.19, 1, 0.22, 1) both;
}

@keyframes LayoutIn {
  from {
    background-color: rgba(255, 255, 255, 0);
  }
  to {
    background-color: var(--ve-field-border);
  }
}

@keyframes LayoutOut {
  from {
    background-color: var(--ve-field-border);
  }
  to {
    background-color: rgba(255, 255, 255, 0);
  }
}
