.is-hidden .ve-sidebar {
  animation: SlideToLeft .7s cubic-bezier(0.19, 1, 0.22, 1) both;
}
.is-visible .ve-sidebar {
  animation: SlideFromLeft .7s cubic-bezier(0.19, 1, 0.22, 1) both;
}

.is-hidden .ve-preview {
  animation: SlideAndFadeToRight .7s cubic-bezier(0.19, 1, 0.22, 1) both;
}
.is-visible .ve-preview {
  animation: SlideAndFadeFromRight .7s cubic-bezier(0.19, 1, 0.22, 1) both;
}

@keyframes SlideToLeft {
  from {transform: translateX(0) }
  to {transform: translateX(-100%) }
}

@keyframes SlideFromLeft {
  from {transform: translateX(-100%) }
  to {transform: translateX(0) }
}

@keyframes SlideAndFadeToRight {
  from {transform: translateX(0); opacity: 1; }
  to {transform: translateX(50px); opacity: 0; }
}


@keyframes SlideAndFadeFromRight {
  from {transform: translateX(50px); opacity: 0; }
  to {transform: translateX(0); opacity: 1; }
}
