.ve-blocs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  border-bottom: 1px solid var(--ve-field-border);
  background-color: var(--ve-blocs-background);
  box-shadow: inset 0px -1px 10px rgba(0, 0, 0, 0.05);
}

.ve-bloc {
  position: relative;
  min-height: 150px;
  box-sizing: border-box;
  border: 1px solid var(--ve-field-border);
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  background-color: #fff;
  color: var(--ve-color);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1rem .5rem;
  font-size: .8rem;
  text-align: center;
  transition: border-color .3s, color .3s;
  width: 100%;
  min-width: 0;
  flex: none;
  &:last-child {
    border-right: 1px solid var(--ve-field-border);
  }
  img {
    opacity: .45;
    max-width: 100%;
    filter: invert(45%) sepia(8%) saturate(649%) hue-rotate(182deg) brightness(95%) contrast(89%);
    transition: filter .3s, opacity .3s;
  }
  span {
    min-width: 0;
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
.ve-bloc:hover {
  border-color: var(--ve-primary);
  background-color: var(--ve-primary-light);
  z-index: 10;
  color: var(--ve-primary);
  img {
    opacity: 1;
    filter: invert(36%) sepia(43%) saturate(6104%) hue-rotate(204deg) brightness(95%) contrast(90%);
  }
}
.ve-bloc-search {
  width: 100%;
  font-size: 0.9rem;
  padding: .7em 1em;
  background-color: transparent;
  position: relative;
  border: 1px solid var(--ve-field-border);
  border-top: none;
}

