// Default style
// =============
.ve-sidebar-fields label {
  display: block;
  margin-bottom: .5em;
  font-size: .875rem;
}

.ve-sidebar-fields label small {
  font-size: 0.8rem;
  opacity: .65;
}

.ve-sidebar-fields input[type="text"],
.ve-sidebar-fields input[type="email"],
.ve-sidebar-fields textarea,
.ve-sidebar-fields select,
.ve-input {
  color: var(--ve-color);
  background: transparent;
  padding: .5rem .75em;
  font-size: .875rem;
  line-height: 1.25rem;
  border-radius: .2rem;
  display: block;
  width: 100%;
  border: 1px solid var(--ve-field-border);
  box-shadow: var(--ve-field-shadow);

  &:focus {
    border-color: var(--ve-primary);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(23 113 230 / 25%);
  }
}

.ve-wysiwyg {
  color: var(--ve-color, currentColor);
  background: var(--ve-background, transparent);
}

// Checkbox
// =============
.ve-checkbox {
  position: relative;
  display: flex;
}
.ve-checkbox input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 5;
}
.ve-checkbox label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.ve-checkbox label::before{
  cursor: pointer;
  display: block;
  content:'';
  width: 38px;
  height: 20px;
  border: solid 1px var(--ve-field-border);
  border-radius: 18px;
  margin-right: .5em;
  transition: .3s;
}
.ve-checkbox label::after {
  position: absolute;
  content:'';
  top: 2px;
  left: 2px;
  border-radius: 16px;
  width: 16px;
  height: 16px;
  background-color: var(--ve-color-light);
  transition: .3s;
}
.ve-checkbox input:checked + label::before {
  border-color: var(--ve-primary);
  background-color: var(--ve-primary);
}
.ve-checkbox input:focus + label::before {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(23 113 230 / 25%);
}
.ve-checkbox input:checked + label::after {
  background-color: #FFF;
  transform: translateX(17px);
}

// Champs avec icone
// =============
.ve-input-icon {
  position: relative;

  button {
    color: var(--ve-field-border);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    height: 100%;
    width: 40px;
  }

  button:hover {
    color: var(--ve-color-light);
  }

  svg {
    width: 20px;
    height: 20px;
  }

}

.ve-input-image {
  padding-right: 35px!important;
}


@import "./fields/quilleditor";
@import "./fields/color";
@import "./fields/alignments";
