// Tippy
// =============
/*
.tippy-box[data-animation=fade][data-state=hidden] {
  transform: translateY(-5px);
  opacity: 0;
}
.tippy-box {
  background-color: #FFF;
  color: var(--ve-color-light);
  border: solid 1px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.4;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  outline: 0;
  transition-property: transform, visibility, opacity;
}

.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1;
}

.tippy-box[data-placement^=top] > .tippy-arrow {
  bottom: 0;
}

.tippy-arrow {
  width: 16px;
  height: 16px;
  color: #FFF;
}

.tippy-box[data-placement^=top] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  transform-origin: center top;
}

.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

// Base
// =============
.ve-tooltip {
  opacity: 0;
  transition: opacity .3s;
}

.ve-tooltip-visible {
  opacity: 1;
}

.ve-tooltip-arrow::before {
  content: "";
  transform: rotate(45deg);
  background: white;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  width: 10px;
  height: 10px;
}

.ve-tooltip[data-popper-placement^="top"] .ve-tooltip-arrow {
  bottom: 6px;
}

// Image tooltip
// =============
.ve-imageurl-tooltip {
  width: 150px;
  height: 150px;
  position: relative;
  z-index: 2;
  object-fit: cover;
}
*/
