@import "reset";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

:root {
  --reach-dialog: 1;
  --ve-background: #FFF;
  --ve-sidebar: 600px;
  --ve-primary: #1771E6;
  --ve-primary-hover: #388afa;
  --ve-primary-light: #1771E626;
  --ve-color: #111827;
  --ve-hover: #F3F4F9;
  --ve-color-light: #6b7280;
  --ve-field-border: rgb(209, 213, 219);
  // --ve-hover: rgb(237, 243, 250);
  --ve-field-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  --ve-blocs-background: rgba(0, 0, 0, 0.05);
  --ve-danger: #ae2121;
  --ve-danger-light: rgba(255, 0, 0, .05);
  --ve-shadow-dragging: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;  justify-content: center;
  --ve-gap: .5em;
  --ve-clampedSidebar: clamp(450px, var(--ve-sidebar), calc(100vw - 375px))
}

.ve-wrapper,
#ve-components {
  isolation: isolate;
  z-index: 9999;
}

.ve-wrapper ::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.ve-wrapper ::-webkit-scrollbar-track {
  background: transparent;
  padding: 1px;
}

.ve-wrapper ::-webkit-scrollbar-thumb {
  background: var(--ve-field-border);
  border-radius: 4px;
}

.ve-layout {
  color: var(--ve-color-light);
  background-color: rgba(255, 255, 255, 0);
  transition: background-color .3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: grid;
  z-index: 1000;
  grid-template-columns: var(--ve-clampedSidebar) 1fr;

  &.is-visible {
    background-color: var(--ve-field-border);
  }
}

.ve-layout *,
.ve-layout *::before,
.ve-layout *::after {
  box-sizing: border-box;
}

// Generics
// =============
%button{
}


  // Sidebar
// =============
.ve-sidebar {
  background-color: #FBFBFD;
  position: relative;
  z-index: 2;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.2),0 10px 10px -5px rgba(0,0,0,0.04);
  transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1);
  overflow: auto;

  * {
    scroll-margin: 90px;
  }

}

.ve-fields {
  display: grid;
  padding: 1em;
  gap: 1em;
  align-content: flex-start;
  grid-template-columns: 1fr;
  align-items: flex-start;
}

.ve-sidebar-bloc{
  position: relative;
  padding: .8em 1em .8em 1.3em;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.06);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
  transition: box-shadow .3s;
}

.ve-sidebar-bloc.is-dragging {
  box-shadow: var(--ve-shadow-dragging);
  transition: box-shadow .3s!important;
  z-index: 10;
}

.ve-sidebar-bloc__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ve-sidebar-bloc__head button {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s;
  color: var(--ve-color-light);

  &:hover {
    color: var(--ve-color);
  }
}

.ve-sidebar-expanded {
  transform: rotate(180deg);
}

.ve-sidebar-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ve-sidebar-action-hover {
  opacity: 0;
  transition: opacity .3s;

  .ve-sidebar-header:hover & {
    opacity: 1;
  }
}

.ve-layout .ve-sidebar-collapse {
  position: absolute;
  top: 12px;
  right: 16px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ve-color-light)
}

.ve-sidebar-fields {
  margin-top: 1em;

  & > * + * {
    margin-top: 1em;
  }
}

.ve-sidebar-title {
  margin: 0;
  color: var(--ve-color-light);
  font-size: 0.85em;
  cursor: pointer;
  user-select: none;
  font-weight: normal;
  line-height: 1.4;

  strong {
    color: var(--ve-color);
    display: block;
    font-size: .9rem;
  }
}

.ve-sidebar-header {
  .ve-sidebar-action-hover {

  }
}

.ve-flex {
  display: flex;
  gap: 1em;
}

.ve-sidebar-footer {
  margin-top: 0;
  display: flex;
  position: sticky;
  padding: 1em;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FFF;
  z-index: 10;
  border-bottom: 1px solid var(--ve-field-border);
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px 0;
}
.ve-sidebar-footer button {
  flex: none;
}
.ve-layout .ve-close {
  display: block;
  color: var(--ve-color-light);
  font-size: 20px;
  margin-right: auto;
  padding-left: .5em;
  margin-left: -.5em;
  padding-right: .5em;
  cursor: pointer;

  &:hover {
    color: var(--ve-color);
  }
}

// Repeater
// =============
.ve-repeater {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.06);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
}
.ve-repeater-item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: .4rem .7rem .4rem calc(10px + .7rem);
  position: relative;
  border-bottom: solid 1px rgba(0,0,0,0.06);
  background-color: #fff;
}
.ve-repeater-footer {
  display: flex;
  justify-content: flex-end;
  padding: .7rem;
  background-color: rgba(0,0,0,0.03);
}
.ve-repeater-handle {
  width: 10px;
  position: absolute;
  top: .5rem;
  left: 3px;
  bottom: .5rem;
  cursor: move;
  background: radial-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1) 30%, rgba(0,0,0,0) 31%, rgba(0,0,0,0.0)) left top / 5px 5px repeat;
}

%roundedButton {
  background: #FFF;
  font-family: monospace;
  font-weight: 500;
  border: 1px solid var(--ve-field-border);
  color: var(--ve-color-light);
  font-size: 1.2rem;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
    color: var(--ve-color);
  }
}

.ve-sidebar-bloc .ve-bloc-remove {
  top: 12px;
}

.ve-sidebar-bloc:hover .ve-bloc-remove {
  transform: translateX(0) rotate(0);
  opacity: 1;
}
.ve-repeater-item .ve-repeater-collapse {
  transform: rotate(0deg);

  &.is-collapsed {
    transform: rotate(-180deg);
  }
}

@import "preview";
@import "resize";
@import "layout";
@import "tooltip";
@import "blocs";
@import "animation";
@import "form";
@import "tabs";
