.ve-layout {
  --primary: #1771E6;
  --color: #111827;
  --color-light: #6b7280;
  --field-border: rgb(209, 213, 219);
  color: var(--color-light);
}

.ve-layout * {
  box-sizing: border-box;
}

.ve-layout button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

.ve-layout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 600px 1fr;
}

.ve-layout iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.ve-sidebar {
  background-color: #FBFBFD;
  position: relative;
  z-index: 2;
  display: grid;
  gap: 1em;
  padding: 1em;
  align-content: flex-start;
  grid-template-columns: 1fr;
  align-items: flex-start;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.2),0 10px 10px -5px rgba(0,0,0,0.04);
}

.ve-sidebar-item{
  position: relative;
  padding: 1em;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.06);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
}

.ve-layout .ve-sidebar-collapse {
  position: absolute;
  top: 12px;
  right: 16px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light)
}

.ve-sidebar-fields {
  margin-top: 1em;

  & > * + * {
    margin-top: 1em;
  }
}

.ve-sidebar-fields label {
  display: block;
  margin-bottom: .5em;
}

.ve-sidebar-fields input[type="text"],
.ve-sidebar-fields input[type="email"],
.ve-sidebar-fields textarea,
.ve-sidebar-fields select {
  border: 1px solid var(--field-border);
  background: transparent;
  padding: .5rem .75em;
  font-size: .875rem;
  line-height: 1.25rem;
  border-radius: .2rem;
  display: block;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  &:focus {
    border-color: var(--primary);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(23 113 230 / 25%);
  }
}

.ve-sidebar-title {
  margin: 0;
  color: var(--color);
  text-transform: uppercase;
  font-size: 1em;
  font-weight: lighter;
}

.ve-debug {
  position: fixed;
  top: 0;
  right: 0;
  border: 1px solid red;
  width: 500px;
  height: 300px;
}

.ve-flex {
  display: flex;
  gap: 1em;
}

// Repeater
// =============
.ve-repeater {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.06);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
}
.ve-repeater-item {
  padding: .7rem .7rem .7rem calc(10px + .7rem);
  position: relative;
  border-bottom: solid 1px rgba(0,0,0,0.06);
  background-color: #fff;

  &:hover .ve-repeater-remove{
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
}
.ve-repeater-footer {
  display: flex;
  justify-content: flex-end;
  padding: .7rem;
  background-color: rgba(0,0,0,0.03);
}
.ve-repeater-handle {
  width: 10px;
  position: absolute;
  top: .5rem;
  left: 3px;
  bottom: .5rem;
  cursor: move;
  background: radial-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1) 30%, rgba(0,0,0,0) 31%, rgba(0,0,0,0.0)) left top / 5px 5px repeat;
}

.ve-repeater-item .ve-repeater-remove {
  position: absolute;
  top: 18px;
  right: -15px;
  background: #FFF;
  font-family: monospace;
  font-weight: 500;
  border: 1px solid var(--field-border);
  color: var(--color-light);
  font-size: 1.2rem;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateX(5px) rotate(45deg);
  opacity: 0;
  transition: opacity .2s, transform .2s;

  &:hover {
    border: 1px solid var(--color-light);
    color: var(--color);
  }
}
.ve-layout .ve-repeater-add {
  background-color: var(--primary);
  border: none;
  font-weight: 500;
  color: #FFF;
  align-self: flex-end;
  font-size: .875rem;
  line-height: 1.25rem;
  cursor: pointer;
  padding: .5rem 1rem;
  border-radius: .2rem;
}
