.Sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #FBFBFD;
  z-index: 2;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.2),0 10px 10px -5px rgba(0,0,0,0.04);
  transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1);
  animation: SidebarIn .7s cubic-bezier(0.19, 1, 0.22, 1) both;
}

[hidden=hidden] .Sidebar  {
  animation: SidebarOut .7s cubic-bezier(0.19, 1, 0.22, 1) both;
}

@keyframes SidebarOut {
  from {transform: translateX(0) }
  to {transform: translateX(-100%) }
}

@keyframes SidebarIn {
  from {transform: translateX(-100%) }
  to {transform: translateX(0) }
}

.SidebarBlocs {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  grid-gap: 1em;
  padding: 1em;
  overflow: auto;
  scrollbar-gutter: stable;
}

.SidebarBloc {
  position: relative;
  padding: .8em 1em .8em 1.3em;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.06);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
  transition: box-shadow .3s;
}

.SidebarBlocMissing {
  background-color: var(--ve-hover);
  box-shadow: none;
}

.SidebarBlocBody {
  margin-top: .5em;
}

.SidebarBloc[data-dragging] {
  box-shadow: var(--ve-shadow-dragging);
  transition: box-shadow .3s!important;
  z-index: 10;
}

.SidebarHeading {
  width: 100%;
  color: var(--ve-color-light);
  text-align: left;
  font-size: .95em;
  scroll-margin: 1.8em;

  strong {
    display: block;
    color: var(--ve-color);
    font-weight: 500;
    font-size: 1.1em;
  }
}
button.SidebarHeading {
  cursor: pointer;
}

.SidebarHoverable {
  opacity: 0;
  transition: opacity .3s;
}

.SidebarHeading:hover .SidebarHoverable {
  opacity: 1;
}

// Footer
// =============
.SidebarHeader {
  margin-top: 0;
  display: flex;
  padding: 0 1em;
  flex: none;
  background-color: #FFF;
  border-bottom: 1px solid var(--ve-field-border);
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px 0;
  height: 64px;
}
