.BlocSelectorGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 218px);
  gap: 2rem;
  overflow: auto;
  max-height: calc(100vh - 300px);
  margin-top: 2rem;
}
.BlocSelectorGrid[hidden] {
  display: none;
}
.BlocSelectorItem {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font: inherit;
  font-weight: 500;
  cursor: pointer;
}

.BlocSelectorItemImage {
  width: 100%;
  background-color: var(--ve-hover);
  height: 107px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 4px;
    transition: transform .3s;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: #1771E6;
    mix-blend-mode: saturation;
    border-radius: 4px;
    transition: opacity .3s;
  }
}

.BlocSelectorItem:hover {
  color: var(--ve-primary);
  .BlocSelectorItemImage img {
    transform: translateY(-5px);
  }
  .BlocSelectorItemImage::after {
    opacity: 1;
  }
}

.BlocSelectorGrid {
  height: 700px;
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-track {
    background: var(--ve-hover);
    padding: 1px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--ve-field-border);
    border-radius: 4px;
  }
}
