name: Tests

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache pnpm modules
        uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Use PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'
      - name: Use PNPM
        uses: pnpm/action-setup@v2
        with:
          version: 6.22.2
      - name: Install dependencies
        run: pnpm install --recursive
      - name: Build the library
        run: cd visual-editor && pnpm run build
      - name: Run the tests
        run: cd visual-editor && pnpm run test
