.FieldInput {
  color: var(--ve-color);
  background: transparent;
  padding: .5rem .75em;
  line-height: 1.25rem;
  border-radius: .2rem;
  display: block;
  width: 100%;
  border: 1px solid var(--ve-field-border);
  box-shadow: var(--ve-field-shadow);

  &:focus {
    border-color: var(--ve-primary);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(23 113 230 / 25%);
  }
}

.FieldHelp {
  font-style: italic;
  margin-top: .5em;
  font-size: .8em;
}

.FieldWrapper {
  position: relative;
}

.FieldIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  color: var(--ve-field-border);
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px
}
