.Flash {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  color: var(--ve-background);
  background: var(--ve-dark);
  z-index: 1001;
  padding: 1em;
  border-radius: 4px;
  width: 460px;
  font-weight: 500;
}

.FlashProgress {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  transform-origin: 0 0;
  background-color: var(--ve-primary);
  animation: FlashProgress 1s both linear;
}

.FlashButton {
  border:solid 1px var(--ve-background);
  background-color: transparent;
}

.FlashIn {
  animation: FlashIn .7s cubic-bezier(0.19, 1, 0.22, 1) both;
}
.FlashOut {
  animation: FlashOut .7s cubic-bezier(0.19, 1, 0.22, 1) both;
}

@keyframes FlashIn {
  from {transform: translateX(3em); opacity: 0; }
  to {transform: translateX(0); opacity: 1; }
}

@keyframes FlashOut {
  from {transform: translateX(0); opacity: 1; }
  to {transform: translateX(-3em); opacity: 0; }
}

@keyframes FlashProgress {
  from {transform: scaleX(0); }
  to {transform: scaleX(1); }
}
